# Common options
DOMAIN_NAME=""
NODES_NETWORK=""
NODES_NETWORK_GW=""

# Services server options
SERVICE_IP=""
SERVICE_HOSTNAME=""

# Master nodes options
MASTER_01_IP=""
MASTER_01_HOSTNAME=""
MASTER_02_IP=""
MASTER_02_HOSTNAME=""

# Worker nodes options
WORKER_01_IP=""
WORKER_01_HOSTNAME=""
WORKER_02_IP=""
WORKER_02_HOSTNAME=""

# Static MetalLB load balancer IP
KUBERNETES_ENDPOINT_IP=""
KUBERNETES_ENDPOINT_HOSTNAME=""

# Kuberntes container registry IP
KUBERNETES_CR_IP=""
KUBERNETES_CR_HOSTNAME=""
KUBERNETES_CR_SSL_CER=""
KUBERNETES_CR_SSL_KEY=""
KUBERNETES_CR_CAROOT=""
KUBERNETES_CR_DATA_DIR=""
KUBERNETES_CR_USER=""

# Toolbox VM options
TOOLBOX_IP=""
TOOLBOX_HOSTNAME=""
